html {
  font-size: 62.5%;
}
html a {
  cursor: pointer;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
body .top-bar {
  display: none;
}
body .navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  background-color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
}
body .navbar .logo {
  display: none;
}
body .navbar .menulinks ul {
  display: none;
}
body .navbar .menulinks ul .menulink {
  list-style: none;
  margin: 1rem;
}
body .navbar .menulinks ul a {
  text-decoration: none;
}
body main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 2.5vh;
  height: 60vh;
  justify-content: center;
}
body main .hero-title {
  color: #ec5242;
  font-size: 1rem;
}
body main .hero-title h1 {
  margin: 0;
  font-weight: 400;
}
body main .hero-event {
  color: #ec5242;
  font-size: 4vw;
}
body main .hero-event h1 {
  margin: 0 0 2rem;
  text-transform: uppercase;
  background-image: url(../Media/hero_text_background.jpg);
  background-color: #ec5242;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body main .hero-description {
  font-size: 1.3rem;
  background-color: #d3d3d3;
  padding: 2rem;
  border: solid white 3px;
  margin: 0 0 2rem;
}
body main .hero-description p {
  margin: 0;
}
body main .hero-directions {
  margin-top: 0;
}
body main .hero-time {
  font-size: 2rem;
  color: #535353;
}
body main .hero-time p {
  font-weight: 900;
  margin: 0;
}
body main .hero-location {
  font-size: 1.3rem;
}
body main .hero-location p {
  margin: 0;
}
body .hero-section::before {
  content: "";
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  height: var(--before-height);
  width: var(--before-width);
  z-index: -1;
  background-image: url(../Media/hero_background.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
body .main-program {
  padding: 2rem;
  background-image: url(../Media/x_background.jpg);
  background-size: 7%;
}
body .main-program .container {
  text-align: center;
  color: white;
  font-size: 1.8rem;
}
body .main-program .container_programs {
  flex: 1;
}
body .main-program .program-card {
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  flex: 1;
  align-items: center;
  padding: 2rem;
  margin: 1.5rem 0;
  background-color: rgba(255, 255, 255, 0.2);
}
body .main-program .program-card i.icon_main_programs::before {
  font-size: 3rem;
  width: 10%;
  height: 50px;
  color: white;
  padding: 0 1rem;
  vertical-align: middle;
}
body .main-program .program-card h4 {
  font-size: 1.7rem;
  color: #ec5242;
  width: 20%;
  padding: 0 1rem;
}
body .main-program .program-card p {
  color: white;
  width: 70%;
  text-align: left;
  padding: 0 1rem;
  margin: 0;
}
body .main-program button {
  color: white;
  background: #ec5242;
  height: 6rem;
  border: none;
  border-bottom: solid white 0.1rem;
}

@media (min-width: 768px) {
  body header {
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  body .hero-section {
    width: 70%;
    max-width: 1200px;
    height: 80vh;
    max-height: 800px;
    margin: auto;
    margin-top: 5vw;
  }
  body .hero-section .hero-title {
    font-size: 1.7rem;
  }
  body .hero-section .hero-event {
    font-size: 2.5vw;
  }
  body .hero-section .hero-event h1 {
    font-weight: 900;
    line-height: 5vw;
  }
  body .hero-section .hero-description {
    width: 50%;
  }
  body .top-bar {
    background-color: #272a31;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem;
  }
  body .top-bar a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin: 0 0.5rem;
  }
  body .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    position: relative;
  }
  body .navbar .menulinks ul {
    display: flex;
  }
  body .navbar .menulinks ul .menulink {
    list-style: none;
    margin: 1rem;
  }
  body .navbar .logo {
    display: flex;
  }
  body .navbar .mobile_button {
    display: none;
  }
  body .hero-section::before {
    height: var(--before-height-desktop);
  }
  body .main-program {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 2.5%;
  }
  body .main-program h3 {
    margin: 0;
  }
  body .main-program .container {
    margin: 5rem 0;
    max-width: 1200px;
  }
  body .main-program #empty_container {
    width: 70%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: stretch;
  }
  body .main-program .program-card {
    flex-direction: column;
    padding: 1.5rem 1rem;
    margin: 0 0.15rem;
  }
  body .main-program .program-card h4 {
    width: 100%;
    margin: 1rem 0;
  }
  body .main-program .program-card p {
    width: 100%;
    text-align: center;
  }
  body .main-program button {
    color: white;
    background: none;
    border: none;
    border-bottom: solid white 0.1rem;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */