@mixin background($imgpath, $size, $repeat: no-repeat) {
  background: {
    image: $imgpath;
    size: $size;
    repeat: $repeat;
  }
}

$orange-color: #ec5242;
$gray-color: #d3d3d3;
$black-color: #272a31;
$gray-text-color: #535353;

html {
  font-size: 62.5%;

  a {
    cursor: pointer;
  }
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;

  .top-bar {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    background-color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 0;

    .logo {
      display: none;
    }

    .menulinks ul {
      display: none;

      .menulink {
        list-style: none;
        margin: 1rem;
      }

      a {
        text-decoration: none;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-top: 2.5vh;
    height: 60vh;
    justify-content: center;

    .hero-title {
      color: $orange-color;
      font-size: 1rem;

      h1 {
        margin: 0;
        font-weight: 400;
      }
    }

    .hero-event {
      color: $orange-color;
      font-size: 4vw;

      h1 {
        margin: 0 0 2rem;
        text-transform: uppercase;
        background-image: url(../Media/hero_text_background.jpg);
        background-color: $orange-color;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .hero-description {
      font-size: 1.3rem;
      background-color: $gray-color;
      padding: 2rem;
      border: solid white 3px;
      margin: 0 0 2rem;

      p {
        margin: 0;
      }
    }

    .hero-directions {
      margin-top: 0;
    }

    .hero-time {
      font-size: 2rem;
      color: $gray-text-color;

      p {
        font-weight: 900;
        margin: 0;
      }
    }

    .hero-location {
      font-size: 1.3rem;

      p {
        margin: 0;
      }
    }
  }

  .hero-section::before {
    content: '';
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    height: var(--before-height);
    width: var(--before-width);
    z-index: -1;

    @include background(url(../Media/hero_background.svg), cover, no-repeat);
  }

  .main-program {
    padding: 2rem;
    background-image: url(../Media/x_background.jpg);
    background-size: 7%;

    .container {
      text-align: center;
      color: white;
      font-size: 1.8rem;
    }

    .container_programs {
      flex: 1;
    }

    .program-card {
      font-size: 1.3rem;
      text-align: center;
      display: flex;
      flex: 1;
      align-items: center;
      padding: 2rem;
      margin: 1.5rem 0;
      background-color: rgba($color: #ffffff, $alpha: 0.2);

      i.icon_main_programs::before {
        font-size: 3rem;
        width: 10%;
        height: 50px;
        color: white;
        padding: 0 1rem;
        vertical-align: middle;
      }

      h4 {
        font-size: 1.7rem;
        color: $orange-color;
        width: 20%;
        padding: 0 1rem;
      }

      p {
        color: white;
        width: 70%;
        text-align: left;
        padding: 0 1rem;
        margin: 0;
      }
    }

    button {
      color: white;
      background: $orange-color;
      height: 6rem;
      border: none;
      border-bottom: solid white 0.1rem;
    }
  }
}

$breakpoint-mobile: 768px;

@media (min-width: $breakpoint-mobile) {
  body {
    header {
      position: relative;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .hero-section {
      width: 70%;
      max-width: 1200px;
      height: 80vh;
      max-height: 800px;
      margin: auto;
      margin-top: 5vw;

      .hero-title {
        font-size: 1.7rem;
      }

      .hero-event {
        font-size: 2.5vw;

        h1 {
          font-weight: 900;
          line-height: 5vw;
        }
      }

      .hero-description {
        width: 50%;
      }
    }

    .top-bar {
      background-color: $black-color;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0 2rem;

      a {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        margin: 0 0.5rem;
      }
    }

    .navbar {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 60px;
      position: relative;

      .menulinks ul {
        display: flex;

        .menulink {
          list-style: none;
          margin: 1rem;
        }
      }

      .logo {
        display: flex;
      }

      .mobile_button {
        display: none;
      }
    }

    .hero-section::before {
      height: var(--before-height-desktop);
    }

    .main-program {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-size: 2.5%;

      h3 {
        margin: 0;
      }

      .container {
        margin: 5rem 0;
        max-width: 1200px;
      }

      #empty_container {
        width: 70%;
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: stretch;
      }

      .program-card {
        flex-direction: column;
        padding: 1.5rem 1rem;
        margin: 0 0.15rem;
  
        h4 {
          width: 100%;
          margin: 1rem 0;
        }
  
        p {
          width: 100%;
          text-align: center;
        }
      }

      button {
        color: white;
        background: none;
        border: none;
        border-bottom: solid white 0.1rem;
        height: auto;
      }
    }
  }
}
